<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TZ_Asia__Dubai</key>
	<true/>
	<key>TZ_Asia__Jerusalem</key>
	<true/>
	<key>TZ_Asia__Singapore</key>
	<true/>
	<key>TZ_Asia__Tokyo</key>
	<true/>
	<key>TZ_Europe__Berlin</key>
	<true/>
	<key>TZ_Europe__London</key>
	<true/>
</dict>
</plist>
